<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h2>Add New Student</h2>

{% for category, msg in get_flashed_messages(with_categories=true) %}
<p style="color:red">{{ msg }}</p>
{% endfor %}

<form method="POST">
    Name: <input type="text" name="name" required><br><br>
    Email: <input type="email" name="email" required><br><br>
    Course: <input type="text" name="course" required><br><br>
    <button type="submit">Add</button>
</form>

<a href="{{ url_for('index') }}">Back</a>

</body>
</html>

